* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  widows: 100%;
  height: 100%;
}
#app {
  margin: auto;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  #app {
    min-width: 400px;
  }
}

@media only screen and (min-width: 1029px) {
  #app {
    min-width: 480px;
  }
}

.el-container {
  width: 80%;
  margin: auto;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

img {
  max-width: 100%;
}
